body {
    margin: 0px;
    font-family: sans-serif;
}

.container {
    width: 40em;
    margin: auto;
    padding: 5px;
}

.left {
    float: left;
    width: calc(40% - 20px);
}

.right {
    float: right;
    width: calc(60% - 20px);
}

audio {
    width: 190px;
}

.info {
    background-color: #6699cc;
    color: white;
}

.commentLeft {
    background-color: #fc9;
}

.commentRight {
    background-color: #f93;
    margin-bottom: 1px;
}

.commentRight img{
    width: 100px;
}

.commentRight .commentPictures{
    width: 80px;
}

.contactInfo {
    padding: 5px;
    border: 1px solid black;
}

.contactInfoTop {
    background-color: #6699cc;
}

.friendsGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 5px;
}

.friendsGridItem {
    border: 1px solid black;
    padding: 10px;
}

.banner {
    color: white;
    border: 1px solid black;
}

.commentRight span { 
    font-size:medium!important; 
}

.friendRequestAlert {
    color: yellow;
}

.topBarWithItemsThing {
    background-color: #f1f6f2;
    border: 1px solid #e7e8e2;
    border-radius: 5px;
    padding: 5px;
    color: #838d96;
}

.topBarWithItemsThing a {
    color: #838d96;
}